{% extends 'partials/base.html' %} {% load static %} {% block content %}

<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-3 col-lg-3 sidebar">
        <ul class="nav nav-tabs flex-column" id="myTab" role="tablist">
          <li class="nav-item me-2" role="presentation">
            <a
              href="#"
              class="nav-link active ps-4"
              id="accountdetail-tab"
              data-bs-toggle="tab"
              data-bs-target="#accountdetail"
              type="button"
              role="tab"
            >
              <i class="fa-solid fa-user"></i> Profile
            </a>
          </li>
          <li class="nav-item me-2" role="presentation">
            <a
              href="#"
              class="nav-link ps-4"
              id="dashboard-tab"
              data-bs-toggle="tab"
              data-bs-target="#dashboard"
              type="button"
              role="tab"
            >
              <i class="fa-solid fa-sliders"></i>
              <span class="bold"> Dashboard</span>
            </a>
          </li>
          <li class="nav-item me-2" role="presentation">
            <a
              href="#"
              class="nav-link ps-4"
              id="order-tab"
              data-bs-toggle="tab"
              data-bs-target="#order"
              type="button"
              role="tab"
            >
              <i class="fa-solid fa-bag-shopping"></i
              ><span class="strong bolder"> Orders</span>
            </a>
          </li>
          <li class="nav-item me-2" role="presentation">
            <a
              href="#"
              class="nav-link ps-4"
              id="trackyourorder-tab"
              data-bs-toggle="tab"
              data-bs-target="#trackyourorder"
              type="button"
              role="tab"
            >
              <i class="fa-solid fa-cart-shopping"></i> Track Your Order
            </a>
          </li>
          <li class="nav-item me-2" role="presentation">
            <a
              href="#"
              class="nav-link ps-4"
              id="myaddress-tab"
              data-bs-toggle="tab"
              data-bs-target="#myaddress"
              type="button"
              role="tab"
            >
              <i class="fa-solid fa-location-dot"></i> My Address
            </a>
          </li>

          <li class="nav-item me-2" role="presentation">
            <a
              href="#"
              class="nav-link ps-4"
              id="logout-tab"
              data-bs-toggle="tab"
              data-bs-target="#logout"
              type="button"
              role="tab"
            >
              <i class="fa-solid fa-right-from-bracket"></i> Logout
            </a>
          </li>
        </ul>
      </div>

      <!-- Content -->
      <div class="tab-content col-md-7 col-lg-7 m-2 pe-3" id="myTabContent">
        <div class="tab-pane fade" id="dashboard" role="tabpanel">
          <h2>Hello {{request.user|title}}!</h2>
          <br />
          <p>From your account dashboard you can easily check & view</p>
          <div>
            <!--{{order}}
            {{months}}
            {{total_order}} -->
            <div>
              <canvas id="myChart" style="height: 50px; width: 100px"></canvas>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="order" role="tabpanel">
          <table
            class="table table-bordered"
            style="border: 1px solid rgb(0, 0, 0, 0.3); color: rgb(0, 0, 0)"
          >
            <thead>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Status</th>
                <th>Paid Status</th>
                <th>Total</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for o in orders_list %}
              <tr>
                <td>INVOICE_NO-{{o.id}}</td>
                <td>{{o.order_date}}</td>
                <td>{{o.product_status}}</td>
                {% if o.paid_status == True %}
                <td>
                  <i class="fa-solid fa-check" style="color: #15d59c"></i>
                </td>
                {% else %}
                <td>
                  <i class="fa-solid fa-xmark lg" style="color: #fb5e09"></i>
                </td>
                {% endif %}
                <td>${{o.price}}</td>
                <td>
                  <a
                    href="{% url 'core:order_detail' o.id%}"
                    class="text-success"
                    style="text-decoration: none"
                    >View</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="trackyourorder" role="tabpanel">
          <h3>Your Orders</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Status</th>
                <th>Total</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for o in orders %}
              <tr>
                <td>#{{o.id}}</td>
                <td>{{o.order_date}}</td>
                <td>Processing</td>
                <td>$125.00 for 2 items</td>
                <td><a href="#" class="text-success">View</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="myaddress" role="tabpanel">
          <div class="row">
            <div>
              <form class="mb-4" method="post" action="">
                {% csrf_token %}
                <div class="card-header">
                  <h4>Add Address</h4>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <input
                      type="text"
                      placeholder="Address"
                      required
                      class="form-control pt-3 pb-3 ps-4"
                      name="address"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    <input
                      type="text"
                      placeholder="Phone"
                      required
                      class="form-control pt-3 pb-3 ps-4"
                      name="mobile"
                    />
                  </div>
                  <div class="col-md-12">
                    <button
                      type="submit"
                      class="btn btn-success submit mt-3 pt-3 pb-3 ps-4 pe-4"
                      name="submit"
                      value="submit"
                      style="font-weight: 600; color: white"
                    >
                      Save Address
                    </button>
                  </div>
                </div>
              </form>
              <hr />
            </div>
            {% for a in address%}
            <div class="col-lg-6">
              <div class="card-header">
                <h4 class="mb-3 mt-4" style="color: rgb(0, 0, 0, 0.8)">
                  Address {{forloop.counter}}
                </h4>
              </div>
              <div class="card">
                <div class="card-body border rounded">
                  <address class="mb-0">
                    <p class="m-0">{{a.address}}</p>
                    {% if a.mobile %}
                    <p class="m-0">Phone-{{a.mobile}}</p>
                    {% else %} {% endif %}
                  </address>
                  {% if a.status == True %}
                  <td>
                    <i
                      data-address-id="{{a.id}}"
                      class="fa-solid fa-circle-check m-0 check check{{a.id}}"
                      style="color: #269009"
                    ></i>
                    <button
                      data-address-id="{{a.id}}"
                      class="btn btn-success mt-2 make-default-address button{{a.id}} action_btn"
                      style="color: white; display: none"
                    >
                      Make Default
                    </button>
                  </td>
                  {% else %}
                  <td>
                    <i
                      data-address-id="{{a.id}}"
                      class="fa-solid fa-circle-check m-0 check check{{a.id}}"
                      style="color: #269009; display: none"
                    ></i>
                    <button
                      data-address-id="{{a.id}}"
                      class="btn btn-success mt-2 make-default-address button{{a.id}} action_btn"
                      style="color: white"
                    >
                      Make Default
                    </button>
                  </td>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div
          class="tab-pane fade show active"
          id="accountdetail"
          role="tabpanel"
        >
          <div class="row d-flex justify-content-center align-items-center">
            <div class="">
              <h2 class="mb-4">My Profile</h2>
            </div>
            <hr />
            <div class="mb-3 col-md-2 pe-4 pb-4 mb-4">
              {% if profile.image %}
              <span class=""
                ><img
                  src="{{profile.image.url}}"
                  alt=""
                  style="
                    object-fit: cover;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                  "
              /></span>
              {% else %}
              <span class=""
                ><img
                  src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg"
                  alt=""
                  style="
                    object-fit: cover;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                  "
              /></span>
              {% endif %}
            </div>

            <div class="form-group col-md-10 mb-2 ps-4">
              <input
                type="text"
                placeholder="Address"
                value="Name-{{profile.full_name}}"
                required
                class="form-control pt-3 pb-3 ps-4 mb-2"
                name="address"
                style="color: black"
              />
              <input
                type="text"
                placeholder="Address"
                value="Bio-{{profile.bio}}"
                required
                class="form-control pt-3 pb-3 ps-4 mb-2"
                name="address"
                style="color: black"
              />
              <input
                type="text"
                placeholder="Address"
                value="Phone-{{profile.phone}}"
                required
                class="form-control pt-3 pb-3 ps-4 mb-2"
                name="address"
                style="color: black"
              />
              {% if profile.verified == True %}
              <div class="">
                <span
                  type="text"
                  placeholder="Address"
                  value="required"
                  class="form-control pt-3 pb-3 ps-4 mb-2"
                  name="address"
                  style="color: black"
                  >verified
                  <i
                    class="fa-solid fa-circle-check"
                    style="color: #15d59c"
                  ></i>
                </span>
              </div>

              {% else %}
              <div class="">
                <span
                  type="text"
                  placeholder="Address"
                  value="required"
                  class="form-control pt-3 pb-3 ps-4"
                  name="address"
                  style="color: black"
                  >Unverified
                  <i
                    class="fa-solid fa-circle-xmark lg"
                    style="color: #fb5e09"
                  ></i>
                </span>
              </div>
              {% endif %}
              <a
                href="{% url 'userauths:profile_update' %}"
                type="submit"
                class="btn btn-success submit mt-3 pt-3 pb-3 ps-4 pe-4"
                name="submit"
                value="submit"
                style="font-weight: 600; color: white"
              >
                Edit Address
              </a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="logout" role="tabpanel">
          <div class="row">
            <h2 class="mb-4">{{ reviews.count}} review for "{{ p.title}}"</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
</body>

<script>
  const ctx = document.getElementById("myChart");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: {{month|safe}},
      datasets: [
        {
          label: "# of Votes",
          backgroundColor: "#15d59c",
          borderColor: "#15d59c",
          data: {{ total_order|safe }},
          borderWidth: 1,
        },
      ],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>

{% endblock %}
