{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

    <head>
      <style>
        input[type="range"] {
          -webkit-appearance:none ;
          margin-right: 15px;
          height: 7px;
          background:rgba(255, 255, 255, 0.6) ;
          border-radius: 5px;
          background-image: linear-gradient(#3bb77e, #3bb77e);
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        input[type="range"]::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 20px;
          height: 20px;
          background: #3bb77e;
          border-radius: 50%;
          cursor: ew-resize;
          box-shadow: 0 0 2px 0 #555;
          transition: background .3s ease-in-out;
        }
        input[type="range"]::-webkit-slider-runnable-track {
          -webkit-appearance: none;
          box-shadow: none;
          border: none;
          background: transparent;
        }
      </style>
    </head>

    <div class="container py-4 m-4">
        <div class="mb-2">
      <!-- Toggle Button -->
      <button
        id="toggleButton"
        class="btn activate btn-outline-success mb-3"
        data-bs-toggle="button"
      ><i class="fa-solid fa-arrow-down-short-wide" style="color: #63e6be;"></i>
        Filters ▼
      </button>

      <!-- Filter Section -->
      <div id="filterSection" class="collapse show">
        <div class="row gy-4">
          <!-- By Categories -->
          <div class="col-md-3">
            <div class="filter-card">
              <h5 class="filter-title">By Categories</h5>
              {% for c in categories %}
              <div class="my-2 mx-1 px-3 py-2 "  style="border: 1px solid rgb(0, 0, 0,0.2); border-radius: 6px; " >
                <input class="filter-checkbox form-check-input mt-2 me-2 " data-filter="category" type="checkbox" name="checkbox" value="{{c.id}}" style="border: 1px solid rgb(0, 0, 0,0.2);">
                <a href="{% url 'core:category_product_list1' c.cid%}" style="text-decoration: none;"><img class="mx-2" src="{{ c.image.url }}" alt="" style="width: 20px; height: 20px;">{{ c.title }}</a>
              </div>
              {% endfor %}
              
            </div>
          </div>

          <!-- By Vendors -->
          <div class="col-md-3">
            <div class="filter-card">
              <h5 class="filter-title">By Vendors</h5>
              
              {% for v in vendors %}
              <div class="filter-option">
                <label
                  ><input class="filter-checkbox form-check-input me-2 mt-2" type="checkbox" data-filter="vendor"  value="{{v.id}}" style="border: 1px solid rgb(0, 0, 0,0.2);" />
                  {{v.title}}</label
                >
              </div>
              {% endfor %}
              
            </div>
          </div>

          <!-- By Tags -->
          <div class="col-md-3">
            <div class="filter-card">
              <h5 class="filter-title">By Tags</h5>
              <div class="filter-tags">
                <span class="tag">Milk <span>&times;</span></span>
                <span class="tag">Broccoli <span>&times;</span></span>
                <span class="tag">Smoothie <span>&times;</span></span>
                <span class="tag">Fruit <span>&times;</span></span>
                <span class="tag">Salad <span>&times;</span></span>
                <span class="tag">Appetizer <span>&times;</span></span>
              </div>
            </div>
          </div>

          <!-- By Price -->
          <div class="col-md-3">
            <div class="filter-card">
              <div class="price-range">
                <h5 class="filter-title">By Price</h5>
              <input type="range" class="slider-range w-100" value="{{ min_max_price.price__min}}" name="range" min="{{ min_max_price.price__min}}" max="{{ min_max_price.price__max}}"  id="range" oninput="max_price1.value = this.value" />
              
              <div class="d-flex justify-content-between">
                <div class="light small">From:<strong class="" style="color: #3bb77e;">${{ min_max_price.price__min|floatformat:2}}</strong></div>
                <div class="light small">To:<strong class="" style="color: #3bb77e;">${{ min_max_price.price__max|floatformat:2}}</strong></div>
              </div>
              <input type="number" id="max_price1" class="form-control mt-2" min="{{ min_max_price.price__min}}" max="{{ min_max_price.price__max}}" placeholder="current price" value="{{ min_max_price.price__min}}" onkeyup="range.value=this.value" name="checkbox" />

              </div>
              
              <div>
                <button class="btn btn-success mt-2 w-100 " type="button" id="price-range-btn" style="background-color: #3bb77e;color: white;"><strong>Apply</strong></button>

              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
      
    
    </div>
    <div class="m-5">
        <p>We found <b style="color: rgb(4, 129, 58);">{{products.count}}</b> items for you!</p>
    <div class="row ">
        <div class="col-md-12">
            <div class="bootstrap-tabs product-tabs">
                <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">

                <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5" id="filtered_product">
                
                {% for p in products%}
                <div class="col">
                  <div class="product-item">
                    <span class="badge bg-success position-absolute m-3">-{{p.get_percentage | floatformat:0}}%</span>
                    <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                    <figure >
                      <a href="{% url 'core:product_detail' p.pid %}" title="Product Title">
                        <img src="{{ p.image.url }}"  class="img-fluid tab-image" style="width: 250px; height: 250px; object-fit: cover;">
                      </a>
                    </figure>
                    
                    <div class="row g-0">
                      <div class="col-md-4">
                        <p class="m-0">{{p.category}}</p>
                      </div>
                      <div class="col-md-8 text-end">
                        <span class="rating text-end"><svg width="24" height="24" class="text-primary mb-2"><use xlink:href="#star-solid"></use></svg> </span></div>
                        <span class="rating text-end"> </span>
                      </div>
                    <h3>{{ p.title }}</h3>
                    <div>
                      <!-- <span class="qty">{% if p.in_stock %}In-Stock{% else %}<p>Out-of-Stocks</p>{% endif %}</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> </span> -->
                      <span class="font-small text-muted">By <a href="vendoe-detail.html">{{p.vendor.title}}</a></span>
                    </div>
                    <span>$<span class="product-price-{{ p.id }}" value="{{ p.price }}" >{{p.price}}</span></span>
                    <div class="d-flex align-items-center justify-content-between">
                      <div class="input-group product-qty">
                          <span class="input-group-btn">
                              <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                              </button>
                          </span>
                          <input type="text" id="quantity" name="quantity" class="form-control input-number product-qty-{{ p.id }}" value="1">
                          <span class="input-group-btn">
                              <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                  <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                              </button>
                          </span>
                      </div>
                      <div class="add-cart">
                        <input type="hidden" value="{{p.id}}" class="product-id-{{ p.id }}" name="" id="">
                        <input type="hidden" value="{{p.title}}" class="product-title-{{ p.id }}" name="" id="">
                        <input type="hidden" value="{{p.image.url}}" class="product-image-{{ p.id }}" name="" id="">
                        <input type="hidden" value="{{p.pid}}" class="product-pid-{{ p.id }}" name="" id="">

                        <button class="btn vendor-card m-0 nav-link p-2 px-3 add-to-cart-btn" id="add-to-cart-btn" data-index="{{ p.id }}" style="background-color: #28a745; color: aliceblue;"><i class="fa-solid fa-cart-shopping me-1"></i> </button>

                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                
                </div>
                <!-- / product-grid -->
                </div>
            </div>
        </div>
    </div>
    </div>
    
    

{% endblock content %}