.tab-content {
  margin-top: 0px; /* Prevents overlap with the fixed header */
  flex-grow: 1; /* Makes it occupy the remaining space */
  overflow-y: auto;
}

.tab-pane {
  height: max-content; /* Example height to demonstrate scrolling */
  padding-top: 50px;
  padding-right: 50px;
}

.sidebar {
  top: 0;
  left: 0;
  margin-left: 140px;
  padding: 20px;
  margin-top: 120px;
  position: relative;
}
.tab-content {
  height: 100vh;
  position: -ms-page;
}

.sidebar .nav-item {
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
  border: 1px solid rgb(0, 0, 0, 0.2);

  border-radius: 10px;
  width: 90%;

  transition-timing-function: ease-in-out;
}

.custom-nav-item {
  color: #333;
  font-weight: 500;
  margin: 0;

  border-radius: 10px;
  width: 90%;
  transform: scale(1);
  transition-timing-function: ease-in-out;
}

.sidebar .nav-link.active {
  border-radius: 10px;
  border: none;
  background-color: #198754;
  color: #fff;
}
.sidebar .nav-link:hover {
  background-color: #198754;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  transform: scale(1.02);
  border: none;
}

.sidebar .custom-nav-link.active {
  background-color: #198754;
  color: #fff;
}

.sidebar .custom-nav-item:hover {
  background-color: #198754;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  transform: scale(1.02);
  border: none;
}

.content {
  padding: 20px;
}

.table th,
.table td {
  vertical-align: middle;
}
